---
ogtype: website
image: /opengraph.png
---

<!DOCTYPE html>
<html lang="en_CA">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% seo "" %}

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="OverScore Media">
    <meta name="application-name" content="OverScore Media">
    <meta name="msapplication-TileColor" content="#262626">
    <meta name="theme-color" content="#262626">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Staatliches&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
  </head>

  <body class="overflow-x-hidden font-sans leading-normal tracking-normal text-gray-900">

    <div class="fixed flex items-center justify-center w-screen mb-2 navbar text-neutral-content" style="z-index: 69">
      <div class="flex-1 px-2 mx-2">
        <a href="/" aria-name="Return to Homepage">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 49.725 85"><path style="fill:#cf5986;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" d="M10 15 0 25v20l5 5-5 5v20l10 10h29.725l10-10V25l-10-10zm1.059 11.059h27.609V73.94h-27.61ZM0 8.942V0h49.725l-8.941 8.942z"/></svg>
        </a>
      </div>
      <div class="flex px-2 mx-2 lg:flex-none">
        <nav class="flex items-stretch">
          <a class="font-normal btn btn-ghost btn-md rounded-btn font-aldrich" href="/services">Services</a>
          <a class="font-normal btn btn-ghost btn-md rounded-btn font-aldrich" href="/about">About</a>
          <a class="font-normal btn btn-ghost btn-md rounded-btn font-aldrich" href="#contact--us">Contact</a>
        </nav>
      </div>
    </div>

    <div id="contact--us" class="modal">
      <div class="flex flex-col items-center justify-center p-8 bg-overdark modal-box">
        <p class="text-xl text-center text-white">Looking to get started on your project? Shoot us a message!</p>
        <p class="text-xl text-center text-white">Email: webmaster@overscore.media</p>
        <div class="self-end modal-action">
          <a href="#" class="btn btn-square btn-sm">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-4 h-4 stroke-current">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>

    {{ content | safe }}

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </body>

</html>