---
ogtype: website
image: /opengraph.png
---

<!DOCTYPE html>
<html lang="en_CA">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% seo "" %}

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="apple-mobile-web-app-title" content="OverScore Media">
        <meta name="application-name" content="OverScore Media">
        <meta name="msapplication-TileColor" content="#262626">
        <meta name="theme-color" content="#262626">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Staatliches&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/index.css">
        <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
    </head>

    <body class="overflow-x-hidden font-sans leading-normal tracking-normal text-gray-900">

        <div class="fixed w-screen mb-2 navbar text-neutral-content">
            <div class="flex-1 px-2 mx-2">
                <a class="text-lg font-bold" href="/">OverScore</a>
            </div>
            <div class="flex-none hidden px-2 mx-2 lg:flex">
                <nav class="flex items-stretch">
                    <a class="font-normal btn btn-ghost btn-sm rounded-btn font-aldrich" href="/services">Services</a>
                    <a class="font-normal btn btn-ghost btn-sm rounded-btn font-aldrich" href="/about">About</a>
                    <a class="font-normal btn btn-ghost btn-sm rounded-btn font-aldrich" href="#contact--us">Contact</a>
                </nav>
            </div>
        </div>

        <div id="contact--us" class="modal">
            <div class="bg-overdark modal-box">
                <p class="text-white">Looking to get started on your project? Shoot us a message!</p>
                <div class="modal-action">
                    <a href="#" class="btn btn-circle btn-sm">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-4 h-4 stroke-current">   
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>                       
                        </svg>
                    </a> 
                </div>
            </div>
        </div>

        <div class="flex justify-center w-screen min-h-screen pt-24 text-white bg-overdark">
            <div class="prose prose-invert">
                <h1 class="text-center">{{ title }}</h1>
                <hr class="mt-1 mb-3"/>
                <h2 class="mb-10 text-center">Published {{ page.date | postDate }}</h2>
                {{ content | safe }}
            </div>
        </div>

        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>

</html>